@import "tailwindcss";

@theme {
  --color-background: #F8FAFC;
  --color-foreground: #0F172A;
  --color-primary: #0F172A;
  --color-accent: #F97316;
  --font-sans: var(--font-inter);
}

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
